.whole-page {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: #003d71;

}

.row {
    display: flex;
    width: 100%;
}

.logo-holder {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo {
    width: 20%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #003d71;
}

.cell {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7%;
}

.cell-home {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15%;
}

.search-holder {
    width: 80%;
    border: 1px solid #003d71;
    border-radius: 5px;
    font-size: 3.5vw;
    margin-bottom: 4%;
}
.search-holder:last-child{
    margin-bottom: 22%;
}

.search-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
}

.search-row label {
    width: 22%;
}

.serch-box-input {
    margin-left: 5%;
    width: 50%;
    border: 1px solid #003d71;
    border-radius: 3px;
    color: #003d71;
    font-size: 3.3vw;
}

.search-button {
    justify-content: center;
    font-size: 3.5vw;
    margin: 10%;
    flex: 0.4 0.4 auto;
    padding: 3%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #003d71 0%, #c2e9fb 51%, #003d71 100%);
}

.search-button:hover {
    background-position: right center;
    /* change the direction of the change here */
}

.search-button a {
    color: white;
    text-decoration: none;
}

.my-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    border-top: 1px solid #003d71;
    background-color: white;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    font-size: 3.5vw;
}
.footer-row {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 40%;

    margin: auto;
}
.footer-cell {
    display: flex;
    justify-content: center;
    width: 33%;
}

.footer-cell img {
    width: 24%;
    height: 100%;
}

.footer-cell p {
    margin-top: 0px;
}

.first-result-row {
    display: flex;
    width: 100%;
}

.result-row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.result-row img {
    width: 90%;
    border-radius: 2%;
    margin-top: 3%;
}

.result-row p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.price-holser {
    display: flex;
    width: 90%;
    border: 1px solid #003d71;
    border-radius: 5px;
    margin-bottom: 3%;
}

.price {
    display: flex;
    width: 40%;
    margin-left: 5%;
}

.rating {
    display: flex;
    width: 30%;
}

.more-info {
    display: flex;
    width: 30%;
    text-decoration: underline;
}

.info-single-element {
    display: flex;
    width: 100%;
}

.info-element {
    display: flex;
    width: 33%;
    justify-content: center;
}

.info-holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-single-element {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
}

.info-img-slider {
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    border-top: 1px solid #003d71;
    border-bottom: 1px solid #003d71;
}

.hotel-carrusel-item {
    width: 50%;
    height: 145px;
    margin-left: 5%;
    border-radius: 3%;
}

.first-info-box {
    display: flex;
    width: 100%;
    border: 1px solid #003d71;
    border-radius: 5px;
    flex-wrap: wrap;
    margin: 7%;
    padding: 2%;
    font-size: 3.5vw;
}

button img {
    width: 45%;
}

.info-element button {
    width: 70%;
    margin-top: -5%;
}

.facilities-info-box {
    display: flex;
    width: 100%;
    border: 1px solid #003d71;
    border-radius: 5px;
    flex-wrap: wrap;
    margin-right: 7%;
    margin-left: 7%;
    padding: 2%;
    font-size: 3.5vw;
}

.facilities-element {
    display: flex;
    justify-content: center;
    width: 50%;
}

.p-facilities {
    font-size: 4vw;
    margin-left: 8%;
    margin-bottom: 0px;
}

.facility-tbl {
    width: 70%;
}

.contact-single-element {
    display: flex;
    width: 100%;
}

.contact {
    font-size: 4vw;
    margin-left: 8%;
    margin-bottom: 0px;
    margin-top: 9%;
}

.address {
    font-size: 4vw;
    margin-left: 8%;
}

.back-icon {
    display: flex;
    width: 100%;
}

.back-icon img {
    width: 11%;
}
.favBack-icon{
    width: 23%;
    margin-left: -6%;
}
/*--------------------------------------Chat*/
.chat-row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.message {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    opacity: 0.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.myMessage {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgb(210, 250, 220);
    border-radius: 10px;
    opacity: 0.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#posts{
    height: 400px;
    width: 80%;
    overflow: scroll;
   
    display: flex;
    flex-direction: column;
}

.advice{
    height: 400px;
    width: 80%;
    overflow: scroll;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    opacity: .7;
    border-radius: 10px;
}
.chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs{
    display: flex;
}

input{
    margin-right: 15px;
}

.notification:not(:last-child){
    margin-bottom: .3rem;
}

.notification.is-info{
    text-align: right;
    max-width: 80%;
    align-self: flex-end;
    border-radius: 20px;
}

.notification.is-primary{
    text-align: left;
    max-width: 80%;
    align-self: flex-start;
    border-radius: 20px;    
}

.name{
    font-size: 12px;
    font-weight: bold;
    color: lightyellow;
}
.btn-color{
    background-color:#1f9cee !important;
}
.close-img{
    width: 5%;
    margin-top: 2%;
    margin-left: 3%;
}
